.Dossier
{   
    display: grid;
    /*grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    column-gap: 10px;
    row-gap: 10px;*/
    .btnDossier
    {        
        border: none;
        padding: 0;

        img
        {
            width: 100%;            
        }
    
        .info
        {
            text-align: left;
            color:white;
    
            .nomDossier
            {
                font-size: 1.5em;
            }

            .dateModification
            {
                font-size: 1em;
            }
        }
    }
}